{% extends 'base.html' %}
{% from 'bootstrap5/nav.html' import render_nav_item %}
{% from 'bootstrap5/utils.html' import render_icon %}

{% block content %}
{% set telegram = "{{ render_icon('telegram', color='info', desc='Telegram') }}" %}
<div class="container" style="display: flex;">
    <div class="topics"><br><br><br><br>
        {% for topic in topics %}
            <div style="width: 700px;left: 5%;" class="navbar navbar-expand-min navbar-dark bg-success p-2 bg-opacity-50">
                <h4>{{ topic.title }}</h4>
                <div class="navbar-nav mr-end">
                    {% if current_user.is_authenticated %}
                        <div style="display: flex;width: 300px;">
                            {% if current_user.email in config['ADMINS'] %}
                                <button style="width: 50%;margin-right: 10px;" class="btn btn-primary">{{ render_nav_item('topic_editor.edit_topic', 'Edit', topic_id=topic.id) }} {{ render_icon('pencil-fill', color='dark', desc='Pen') }}</button>
                            {% endif %}
                            <button style="width: 50%;" class="btn btn-warning">{{ render_nav_item('topic.read_topic', 'Read', topic_id=topic.id) }} {{ render_icon('unlock-fill', color='dark', desc='Unlock') }}</button>
                        </div>
                    {% else %}
                    <div style="display: flexbox;width: 150px;">
                        <button disabled style="width: 100%;" class="btn btn-warning">{{ render_nav_item('topic.read_topic', 'Read', topic_id=topic.id) }} {{ render_icon('lock-fill', color='dark', desc='Lock') }}</button>
                    </div>
                    {% endif %}
                </div>
            </div>
        <br><br>
        {% endfor %}
    </div>
    <div class="additional-section">
        <div style="left: 250px;top: 100px;" class="navbar navbar-expand-min navbar-light p-2 text-white bg-opacity-75">
            <div class="navbar-nav mr-auto">
                <div style="display: inline-block;">
                    {{ render_icon('telegram', color='info', desc='Telegram') }} <a href="https://t.me/english_lab_news"> Check out our telegram</a>
                </div>
                <div>
                    {{ render_nav_item('home.index', "Report a bug", _use_li=True) }}
                    {{ render_icon('bug-fill', color='success', desc='Bug') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}