{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
    <div class="login-form" style="margin: 0 auto;text-align: center;width: 100%;display: flex;">
        <div class="photo">
            <img src="https://www.go.ooo/img/bg-img/Login.jpg">
        </div>
        <div class="login" style="width: 120%;">
            <br><h4>Log In</h4><br>
            {{ render_form(form, button_style='success', button_size='lg', render_kw={'style': 'display: inline-block;'}) }}<br>
        </div>
    </div>
{% endblock %}