{% block content %}
    {% for question in topic_questions %}
        <div class="card">
          <div class="card-flip">
            <div class="card-front">
              <div class="card-body">
                <h5 class="card-title">Question</h5>
                <p class="card-text">{{ question[0].body }}</p>
              </div>
            </div>
            <div class="card-back">
              <div class="card-body">
                <h5 class="card-title">Answer</h5>
                <p class="my-text-answer" data-text="{{ question[0].answer }}"></p>
                <button id="show-answer" class="btn btn-danger">Show answer</button>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
{% endblock %}

<style>
    .my-text-answer::before {
        content: attr(data-text);
        filter: blur(5px);
    }

    .my-text-answer.visible::before {
        filter: none;
    }
</style>

<script>
    const showAnswerBtns = document.querySelectorAll('#show-answer');
    const answerTexts = document.querySelectorAll('.my-text-answer');

    showAnswerBtns.forEach((btn, index) => {
        btn.addEventListener('click', function() {
            answerTexts[index].classList.toggle('visible');
        });
    });
</script>
