{% extends 'base.html' %}

{% block content %}
  <div class="user-profile" style="text-align: center;">
    <h3>{{ user.name }} {{ user.surname }}</h3>
    <p>{{ user.email }}</p>
    <form method="post" action="{{ url_for('change_theme') }}">
      {{ form.csrf_token }}
      <label for="theme">Change theme:</label>
      <select name="theme" id="theme" class="form-select" style="width: 10%;margin-left: 45%;">
        <option value="flatly">Flatly</option>
        <option value="zephyr">Zephyr</option>
        <option value="minty">Minty</option>
        <option value="sandstone">Sandstone</option>
        <option value="simplex">Simplex</option>
        <option value="sketchy">Sketchy</option>
        <option value="yeti">Yeti</option>
        <option value="united">United</option>
      </select>
      <button type="submit" class="btn btn-warning">Change theme</button>
    </form>
  </div>
{% endblock %}